#pg-logo {
	background: url(../images/pg-logo-1x.png) no-repeat;
}

ul.social-links a.facebook {
	background: url(../images/social/facebook-icon-1x.png) no-repeat;
}
ul.social-links a.twitter {
	background: url(../images/social/twitter-icon-1x.png) no-repeat;
}
ul.social-links a.apple {
	background: url(../images/social/apple-icon-1x.png) no-repeat;
}
ul.social-links a.youtube {
	background: url(../images/social/yt-icon-1x.png) no-repeat;
}
ul.social-links a.soundcloud {
	background: url(../images/social/soundcloud-icon-1x.png) no-repeat;
}
ul.social-links a.tumblr {
	background: url(../images/social/tumblr-icon-1x.png) no-repeat;
}